html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "" ;
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* this is coloring section to help with colors since i don't understand them yet */
:root {
    --primary-background: #012E40;
    --secondary-background: #024959;
    --overlay: #026773;
    --primary-color: #F2E3D5;
    --secondary-color: #3CA6A6;
}
body {
    min-height: 100vh;
    background-color: var(--primary-background);
    color: var(--primary-color);
}
header ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}
header ul li {
    background: var(--secondary-background);
    padding: 0.5rem;
    text-align: center;
    text-justify: center;
    border-radius: 8px;
}
header ul li:hover {
    background: linear-gradient(194deg, var(--secondary-color) 0%, var(--overlay) 59%, var(--secondary-background) 100%);
}
